/* .pagination-previous .pagination-next{
    color:black;
}
.ngx-pagination{
    background:black;
} */
.priority1{
    color:red !important;
}
.priority2{
    color:#FFC200 !important;
}
.priority3{
    color:green !important;
}
.priority4{
    color:white !important;
}

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  span:hover + div{
    visibility: visible;
  } */

  .profile-hover { 
    display: none; 
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: #eee;
    width: 300px;
    text-align: center;
}

.fa-circle:hover + .profile-hover { display: inline-block; }


.dropbtn {
  color: black;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

 .pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    background-color: #50a3b8 !important;
    width: 100%;
}
 
:host /deep/ .ngx-pagination .current {

    background: #ffffff !important;

}

:host /deep/ .ngx-pagination{
  padding: 0.1875rem 0.625rem;
   color: black !important; 
  cursor: default;
}

:host /deep/ .ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
   color: black !important; 
  cursor: default;
}

:host /deep/ .pagination-previous{
  color: black !important; 
}

:host /deep/ .pagination-next{
  color: black !important; 
}

:host /deep/ span {

  color: #000000 !important;
}