<p></p>
<div clas="container">
<div class="row">
  <div class="container col-lg-12 col-md-12 col-sm-12 card-primary-1">

    <a class="icon-btn" style="text-align: center;">
    <i class="fas fa-user-check fa-2x" style="letter-spacing: 10px;"></i>
    <i  class="fas fa-clone fa-2x" style="letter-spacing: 10px;"></i>
    <i  class="fas fa-save fa-2x" style="letter-spacing: 10px;"></i>
    <i  class="fas fa-trash fa-2x" style="letter-spacing: 10px;"></i></a>

    <button type="icon-btn" style="margin-top:5px" class="btn btn-default btn-sm float-right" >X</button>
    </div>


</div></div>
<div clas="container">
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6 summary-comp">
          <div class="card-header card-primary card-outline">
            <h6 style="text-align: center;">Documents</h6>
          </div>
          <div class="customTab">
          <ngb-tabset #ctdTabset="ngbTabset">
            <div *ngFor="let docList of docListUrl ; let i = index">
            <ngb-tab [id]="'tab'+(i+1)">
              <ng-template ngbTabTitle><div [ngClass]="getClass(i)"><h6 (click)="selectItem(i)" style="text-align: center;color: black;">{{docList.fileName}}</h6></div></ng-template>
              <ng-template ngbTabContent>
                <div class="pdf-container" style="height: 600px;" (click)="loadView('tab1');selectItem(i)">
                  <pdf-viewer [src]="docList.fileUrl" 
                  [original-size]="false"
                    [autoresize]="true" 
                    [fit-to-page]="true" ></pdf-viewer>
                </div>
              </ng-template>
            </ngb-tab></div>
<!--             <ngb-tab id="tab2">
              <ng-template ngbTabTitle><h6 style="text-align: center;color: black;">Leb Test_{{caseId}}</h6></ng-template>
              <ng-template ngbTabContent>
                <div class="pdf-container" style="height: 600px;" (click)="loadView('tab2')">
                  <pdf-viewer [src]="lab_test_watch_src" 
                  [original-size]="false"
                  [autoresize]="true" 
                  [fit-to-page]="true"></pdf-viewer>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab3">
              <ng-template ngbTabTitle><h6 style="text-align: center;color: black;">ECG_{{caseId}}</h6></ng-template>
              <ng-template ngbTabContent>
                <div class="pdf-container" style="height: 600px;" (click)="loadView('tab3')">
                  <pdf-viewer [src]="ecg_watch_src" 
                  [original-size]="false"
                  [autoresize]="true" 
                  [fit-to-page]="true"></pdf-viewer>
                </div>
              </ng-template>
            </ngb-tab> -->
          </ngb-tabset> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 summary-comp">
          <div class="card-header card-primary card-outline cas-info"><h6 style="text-align: center;">Case Information</h6> 
                
           <!-- <h6 style="text-align: center;">Case Information</h6>  --><h5 style="text-align: center;">{{caseId}}</h5>
           <a style="float: right;    margin-top: -50px;"><i class="fas fa-edit" style="font-size: 40px;"></i></a>
           
                          </div>

          <div class="container">
            <div id="summary" class="content text-center">
              <div class="col-sm-12">
                
                <app-case-summary-view [tabList]="configModel.tabList"></app-case-summary-view>
              
              </div>
            </div>
          </div>
        </div>
      </div>
   
 </div>



