
.card-primary{

    background-color: #c4eef5 !important;
   
}
.case-info{
    height:93px;

}
.card-primary-1{

    background-color: #17a2b8 !important;
    height: 45px;
    margin-top: -16px;
}
.summary-comp{
    padding: 15px;
    margin-top: -10px;
}
.icon-btn{
    text-align: center;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    margin: 0 auto;
    margin-left: 70%;

}
.wrapper {
    max-width: auto;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
}

.row{
    height: 30px;
  }
  
  .vsplitbar {
      width: 4px;
      background: #17a2b8;
  }

  .active
  {
      background:#fbf073; 
      height:38%;
      padding:10px;
      margin: -6px;
  }


  .not-active{
    background: #ffffff;; 
    height:38%;
    padding:10px;
    margin: -6px;
  }
/* 
 
.nav-item.nav-link
{
    background:#FFFFFF;
}
  */
