
/*  .card>.card-header{
    background: cadetblue;
    }
    .collapsed-card>.card-header{
    background: #ffffff;
}
 */

/* app-case-summary-view-ctabs > .card{
    background: blue
    }

    app-case-summary-view-ctabs > .collapsed-card{
        background: grey
        }  */


        .card-header{
            background: #617679;
        } 
        .active
        {
            background:#17a2b8; 
         
        }
        
        
        .not-active{
          background: #617679;
         
        }
        
    