<div *ngFor="let tl of tabList ; let i = index">
  <div [ngSwitch]="tl.canMultiple">
<div class="card  collapsed-card" >
  <div class="card-header" *ngSwitchCase="false" >
     <h3 class="card-title">{{tl.name}}-MultiSupport-{{tl.canMultiple}}</h3>
     <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-plus"></i></button>
     </div>
  </div>
  <div  class="card-body" style="text-align: left;">
    <div *ngFor="let win of tl.window">
      <div *ngFor="let seclist of win.sectionList">
     <strong> {{seclist.sName}}</strong>
     <div class="row">
        <div class="col-sm-4" *ngFor="let fl of seclist.fieldList">
           <p class="text-muted">
              <Strong>{{fl.fieldTxt}} : </Strong> {{fl.val}}
           </p>
        </div> 
     </div>
  </div></div></div></div>
  <!-- /.card-body canMultiple=False -->


  <div class="card  collapsed-card" >
  <div class="card-header" *ngSwitchCase="true" >
    <h3 class="card-title">{{tl.name}}-MultiSupport-{{tl.canMultiple}}</h3>
    <div class="card-tools">
       <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
       <i class="fas fa-plus"></i></button>
    </div>
 </div>
 <div class="card-body" style="text-align: left;">
  
    <strong> About The Product</strong>
    <div class="row">
       <div class="col-sm-4">
          <p class="text-muted">
             <Strong>Generic Name : </Strong> Wonder Drug
          </p>
       </div>
       <div class="col-sm-4">
          <p class="text-muted">
             <Strong>Product Type : </Strong>  Drug
          </p>
       </div>
       <div class="col-sm-4">
          <p class="text-muted">
             <Strong>Product Event Assessment : </Strong> Suspect
          </p>
       </div>
    </div>
 </div>
 <!-- /.card-body canMultiple=True -->
  </div>
</div></div>