.cardStyle-not-collapsed{
    background-color:  #17a2b8;
}
.cardStyle-collapsed{
    background-color:  #ffffff;
}

.active
{
    background:#02027b; 
 
}


.not-active{
  background: #ffffff;
 
}

.headstyle{

color:white;
}
.not-headstyle{
color:black;
}
