<p></p>

<div clas="container" style="width: 99%;padding: 8px;margin-left: 3px;">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6  summary-comp-left">
          <div class="card-header card-primary card-outline">
            <h6 style="text-align: center;">Documents</h6>
          </div>
          <ngb-tabset #ctdTabset="ngbTabset">
            <div *ngFor="let docList of docListUrl ; let i = index">
            <ngb-tab [id]="'tab'+(i+1)">
              <ng-template ngbTabTitle><div [ngClass]="getClass(i)"><h6 (click)="selectItem(i)"  style="text-align: center;" [ngClass]="getHeadingClass(i)">{{docList.fileName}}</h6></div></ng-template>
              <ng-template ngbTabContent>
                <div class="pdf-container" style="height: 600px;" (click)="loadView('tab1')">
                  <pdf-viewer [src]="docList.fileUrl" 
                  [original-size]="false"
                    [autoresize]="true" 
                    [fit-to-page]="true"></pdf-viewer> 
                </div>
              </ng-template>
            </ngb-tab></div>
          </ngb-tabset> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 summary-comp">
          <div class="card-header card-primary card-outline case-info">
                
            <h3 class="card-title float-center">Case Information <br> &nbsp;&nbsp;{{caseId}}</h3>
            <a class="card-title float-right"><i class="fas fa-file-signature" style="font-size: 40px;"></i></a>
                          </div>

          <div class="container">
            <div id="stepper1" class="bs-stepper">
               <div class="bs-stepper-header">
                <div  *ngFor="let tblst of tabList ; let i = index">
                <div class="line"></div>
                <div class="step" >
                  <button class="step-trigger" (click)="loadTab(i)">
                    <span   [id]="'selectTab'+(i+1)"></span>
                    <span class="bs-stepper-label">{{tblst.name}}</span>
                  </button>
                </div></div>
      
              </div> 
              <div class="bs-stepper-content">
                <div class="container">
                  <div id="selectTab1" class="content text-center">
                    <div class="col-sm-12" style= "margin-top: 7px;" *ngIf="tabDataVis">
                      
                      <!--  <app-create-case-view [tabListData]="tabListData" [ruleBasedModelData]="ruleBasedModelData"></app-create-case-view> -->
                    
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
         
            <div *ngIf="tabDataVis"> <app-create-case-view [tabListData]="tabListData" ></app-create-case-view></div>
            
          </div>


          <!--Add new tab-->
          <div class="card  collapsed-card" >
            <div class="card-header" [ngClass]="selectedIndx === i?classType:''" *ngIf="addTab">
              <div class="panel panel-default" ><!-- data-toggle="collapse" data-target="#multiple"> -->
                <div class="panel-body">  <h3  class="card-title headingStyle" [ngClass]="headingStyle">Add New {{tabListDataonAddTab.name}}</h3><br></div></div>
               <div   >
                  <div *ngFor="let win of tabListDataonAddTab.window">
                     <div *ngFor="let seclist of win.sectionList">
                        <strong>{{seclist.sName}}</strong>
                        <div class="row">
                           <div class="col-sm-4" *ngFor="let fl of seclist.fieldList">
                              <p class="text-muted" *ngIf="fl.fieldType === 9?true:false">
                                 <app-create-case-view-textbox [fieldListData]="fl"></app-create-case-view-textbox>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 17?true:false">
                                 <app-create-case-view-attachment [fieldListData]="fl"></app-create-case-view-attachment>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 2?true:false">
                                 <app-create-case-view-checkbox [fieldListData]="fl"></app-create-case-view-checkbox>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 7?true:false">
                                 <app-create-case-view-datepicker [fieldListData]="fl"></app-create-case-view-datepicker>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 1?true:false">
                                 <app-create-case-view-radio [fieldListData]="fl"></app-create-case-view-radio>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 3?true:false">
                                 <app-create-case-view-select [fieldListData]="fl"></app-create-case-view-select>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 4?true:false">
                                 <app-create-case-view-textarea [fieldListData]="fl"></app-create-case-view-textarea>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm" (click)="onTabSubmit(tabListDataonAddTab)" >Add</button>&nbsp;
               </div>
            </div>
         </div><div style="float: right;">
          <button type="submit" class="btn btn-primary btn-sm" (click)="saveTabData(tabListData.id)" [disabled]="clicked">Save Data </button>&nbsp;&nbsp;
         <button type="submit" class="btn btn-primary btn-sm" (click)="onAddTab()" *ngIf="!addTab&&tabListData.canMultiple" [disabled]="clicked">Add New</button>&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary btn-sm" (click)="onSubmitCase()" [disabled]="clicked">Submit Case </button>
        </div></div>
      </div></div>
   
 