<p></p>

<div clas="container" style="width: 99%;padding: 8px;margin-left: 3px;" >
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6  summary-comp-left">
          <div class="card-header card-primary card-outline">
            <h6 style="text-align: center;">Documents</h6>
          </div>
          <ngb-tabset #ctdTabset="ngbTabset">
            <div *ngFor="let docList of docListUrl ; let i = index">
            <ngb-tab [id]="'tab'+(i+1)">
              <ng-template ngbTabTitle><div [ngClass]="getClass(i)"><h6 (click)="selectItem(i)"  style="text-align: center;" [ngClass]="getHeadingClass(i)">{{docList.fileName}}</h6></div></ng-template>
              <ng-template ngbTabContent>
                <div class="pdf-container" style="height: 600px;" (click)="loadView('tab1')">
                  <pdf-viewer [src]="docList.fileUrl" 
                  [original-size]="false"
                    [autoresize]="true" 
                    [fit-to-page]="true"></pdf-viewer> 
                </div>
              </ng-template>
            </ngb-tab></div>
          </ngb-tabset> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 summary-comp" >
          <div class="card-header card-primary card-outline case-info">
                
            <h3 class="card-title float-center">Create Case<br> &nbsp;&nbsp;</h3>
            
          </div>
          <div *ngIf="dataVis">
          <div class="container">
            <div id="stepper1" class="bs-stepper" style="float:left;">
               <div class="bs-stepper-header">
                <div  *ngFor="let tblst of tabListMod ; let i = index">
                <div class="line"></div>
                <div class="tab" style="height: 103px;">
                  <button class="tablinks" style="width: 100%;  height: 100%" [ngClass]="{'active': (selectedTab == 'Tab'+i) }" (click)="loadTab(i,'OnTab');makeActive('Tab'+i)">
                    <span   [id]="'selectTab'+(i+1)"></span>
                    <span class="bs-stepper-label"><h5 style="font-size: 1rem;">{{tblst.name}}</h5></span><div *ngIf="tblst.visited==='Yes'&& i!=5"><span class="fas fa-check-circle green-color"></span></div>
                  </button>
                </div></div>
      
              </div> 
              <div class="bs-stepper-content">
                <div class="container">
                  <div id="selectTab1" class="content text-center">
                    <div class="col-sm-12" style= "margin-top: 7px;" *ngIf="tabDataVis">
                      
                      <!--  <app-create-case-view [tabListData]="tabListData" [ruleBasedModelData]="ruleBasedModelData"></app-create-case-view> -->
                    
                    </div>
                  </div>
                </div>
               
              </div>
            </div> 
         
            <div *ngIf="tabDataVis && dataVis"> <app-create-case-view [tabListData]="tabListData" style="float: left;width: 100%;" ></app-create-case-view></div>
            <div class="container" *ngIf="dataVis">
              <div id="summary" class="content text-center">
                <div class="col-sm-12" style= "margin-top: 7px;" *ngIf="tabDataVis1">
                  
                  <app-case-summary-view [tabList]="tabList" style="float: left;width: 100%;"></app-case-summary-view>
                
                </div>
              </div>
            </div>
         
</div>

          <!--Add new tab-->
          <div class="card  collapsed-card" style="width: 95%;margin-left: 16px;" *ngIf="dataVis">
            <div class="card-header" [ngClass]="selectedIndx === i?classType:''" *ngIf="addTab">
              <div class="panel panel-default customPanelTab" ><!-- data-toggle="collapse" data-target="#multiple"> -->
                <div class="panel-body">  <h3  class="card-title headingStyle" [ngClass]="headingStyle">Add New {{tabListDataonAddTab.name}}</h3><br></div></div>
               <div   >
                  <div *ngFor="let win of tabListDataonAddTab.window">
                     <div *ngFor="let seclist of win.sectionList">
                        <strong style="color:#057bff">{{seclist.sName}}</strong>
                        <div class="row">
                           <div class="col-sm-4" *ngFor="let fl of seclist.fieldList">
                              <p class="text-muted" *ngIf="fl.fieldType === 9?true:false">
                                 <app-create-case-view-textbox [fieldListData]="fl"></app-create-case-view-textbox>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 17?true:false">
                                 <app-create-case-view-attachment [fieldListData]="fl"></app-create-case-view-attachment>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 2?true:false">
                                 <app-create-case-view-checkbox [fieldListData1]="{'fieldListDt':fl,'cTabs':{'name':'notMultiple'}}"></app-create-case-view-checkbox>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 7?true:false">
                                 <app-create-case-view-datepicker [fieldListData]="fl"></app-create-case-view-datepicker>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 1?true:false">
                                 <app-create-case-view-radio [fieldListData1]="{'fieldListDt':fl,'cTabs':{'name':'notMultiSelect'}}"></app-create-case-view-radio>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 3?true:false">
                                 <app-create-case-view-select [fieldListData]="fl"></app-create-case-view-select>
                              </p>
                              <p class="text-muted" *ngIf="fl.fieldType === 4?true:false">
                                 <app-create-case-view-textarea [fieldListData]="fl"></app-create-case-view-textarea>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm" (click)="onTabSubmit(tabListDataonAddTab)" >Add</button>&nbsp;
                  <button type="submit" class="btn btn-primary btn-sm" (click)="onTabCancel()" >Cancel</button>&nbsp;

               </div>
            </div>
         </div>
         <div style="margin-left : 7px">
          <button type="submit" class="btn btn-primary btn-sm" (click)="onAddTab()" *ngIf="!addTab && tabListData.canMultiple && selectedIdx!=5" [disabled]="clicked">Add New</button>&nbsp;&nbsp;
         </div>

         <div style="float: right;">
          <button type="submit" class="btn btn-primary btn-sm" (click)="loadTab(selectedIdx+1, 'Save');;makeActive1(selectedIdx)" [disabled]="clicked" *ngIf="selectedIdx!==5">Save & Continue </button>

                 <button type="submit" class="btn btn-primary btn-sm" (click)="onSubmitCase()" [disabled]="clicked" *ngIf="selectedIdx===5">Submit Case </button>
        </div>
      </div>
        </div>
        </div>
      </div>
    
   
 