.navbar-info{
    background-color: #27242a !important;
}


    .notif {
        color: #27242a !important;
        text-decoration: none !important;
        background-color: transparent !important;
    }
