.navbar-info{
    background-color: #17a2b8 !important;
}


    .notif {
        color: #17a2b8 !important;
        text-decoration: none !important;
        background-color: transparent !important;
    }
