.login-page, .register-page {
    -webkit-box-align: center !important;
    align-items: center !important;
    background: #e9ecef !important;
    display: -webkit-box !important;
    display: flex !important;
    height: 80vh !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.main-footer1 {
    background: #27242a  !important;
    border-top: 1px solid #dee2e6 !important;
    color: #ffffff !important;
    padding: 1rem !important;
}