<!-- Navbar -->
<nav class="navbar navbar-info navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-sm-inline-block">
        <a [routerLink]="['/user/dashboard']" class="nav-link">
            <b>Intelli</b>PV</a>
      </li>
    </ul>
  
    
  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
  
      <!-- Notifications Dropdown Menu -->
    
      <li class="nav-item">
      
         <p class="nav-link" style="color: whitesmoke;">The Intelligent Pharmacovigilance</p>
    
      </li>
    </ul>
  </nav>
<div class="login-page" style="min-height: 512.8px;">
    <div class="login-box">
        <div class="login-logo">
            <a ><span style="color: cadetblue;"> <b >Intelli</b>PV</span></a>
        </div>
        <div class="card" style="min-width: 515.8px; margin-left: -69px;">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                         <!--    <a [routerLink]="['/auth/register']" class="btn btn-block btn-danger">
                               Register
                            </a> -->
                            <button type="submit" class="btn btn-primary btn-sm" [disabled]="isClicked" >Sign In</button>
                        </div>
                        <div class="col-5">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-5">
                            <a href="forgot-password.html">Forgot Password ?</a>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                
                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                        <button type="submit" class="btn btn-block btn-primary">Register</button>
                    
                   
                        <button  class="btn btn-block btn-primary">
                            Report Anonymously
                        </button>
              
                    
                   
                   <!--  <button [routerLink]="['/auth/register']" class="btn btn-block btn-danger">
                        CREATE AN ACCOUNT
                    </button> -->
                </div>
                <!-- /.social-auth-links -->
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<footer class="main-footer1">
    <div class="float-left d-none d-sm-inline-block">
     <a href="#">Terms of Use</a>
    </div>
    
    <div class="float-center d-none d-sm-inline-block">
    <strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Copyright &copy;  <a >Team Intelli PV</a>.</strong>
    All rights reserved.
    </div>
    <div class="float-right d-none d-sm-inline-block">
    <a href="#">Privacy Policies</a>
    </div>
  </footer>