<app-header></app-header>
<app-right-nav></app-right-nav>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>3,500,456</h3>

              <p>Total ADRs</p>
            </div>
            <div class="icon">
              <i class="ion ion-calculator"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>5113</h3>

              <p>New ADRs</p>
            </div>
            <div class="icon">
              <i class="ion ion-load-c"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>44,323,334</h3>

              <p>Valid ADRs</p>
            </div>
            <div class="icon">
              <i class="ion ion-checkmark-round"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>33,466</h3>

              <p>One Year ADRs</p>
            </div>
            <div class="icon">
              <i class="ion ion-calendar"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-xl-6 col-lg-6 col-md-12 col-sm-12 connectedSortable">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Case Breakup
              </h3>
            </div>
            <div class="card-body">
              <div class="chart-responsive">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas id="caseBreakupDataChart" #caseBreakupDataChart></canvas>
              </div>
            </div>
            <div class="card-footer bg-white p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a  class="nav-link">
                   <p style="color: black;"> United States of America
                    <span class="float-right text-danger">
                      <i class="fas fa-arrow-down text-sm"></i>
                      12%</span></p>
                  </a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link">
                    <p style="color: black;">
                      India
                      <span class="float-right text-success">
                        <i class="fas fa-arrow-up text-sm"></i> 4%
                      </span>
                    </p>
                 
                  </a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link">
                    <p style="color: black;">
                      China
                      <span class="float-right text-warning">
                        <i class="fas fa-arrow-left text-sm"></i> 0%
                      </span>
                    </p>
                   
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.card -->


        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-xl-6 col-lg-6 col-md-12 col-sm-12 connectedSortable">

          <!-- Map card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie  mr-1"></i>
                Source Based Classification
              </h3>
            </div>
            <div class="card-body">
              <div class="chart-responsive">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas id="sourceBasedClassificationChart"  #sourceBasedClassificationChart></canvas>
              </div>
            </div>
            <!-- /.card-body-->
            <div class="card-footer bg-white p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a  class="nav-link">
                   <p style="color: black;"> United States of America
                    <span class="float-right text-danger">
                      <i class="fas fa-arrow-down text-sm"></i>
                      12%</span></p>
                  </a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link">
                    <p style="color: black;">
                      India
                      <span class="float-right text-success">
                        <i class="fas fa-arrow-up text-sm"></i> 4%
                      </span>
                    </p>
                 
                  </a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link">
                    <p style="color: black;">
                      China
                      <span class="float-right text-warning">
                        <i class="fas fa-arrow-left text-sm"></i> 0%
                      </span>
                    </p>
                   
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.card -->
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<app-footer></app-footer>