<div>
  <label >{{fieldListData.fieldTxt}}</label>
<div *ngIf="fieldListData.fieldValueList.length>0">
<div *ngFor="let enum of fieldListData.fieldValueList;let idx=index" >
<div class="custom-control custom-radio" >
  <input class="custom-control-input" type="radio" [checked]="enum.id===radioVal.id" id="enum_answer_{{enum.txt}}_{{fieldListData.fieldId}}_{{fieldListData1.cTabs.name}}" name="{{fieldListData.fieldId}}_{{fieldListData1.cTabs.name}}"    (change)="onChange(idx)"  [value]="{'id':enum.id,'name':enum.txt}" >
  <label for="enum_answer_{{enum.txt}}_{{fieldListData.fieldId}}_{{fieldListData1.cTabs.name}}" class="custom-control-label">{{enum.txt}}</label>
 
</div>

</div>
</div>
</div>